@import "tailwindcss";
@plugin "daisyui" {
  themes: lofi --default, black --prefersdark;
}

@font-face {
  font-family: 'Akira';
  src: url('/Akira.otf');
}
@font-face {
  font-family: 'Doris';
  src: url('/Doris.ttf');
}