@import "tailwindcss";
@plugin "daisyui" {
  themes: lofi --default, black --prefersdark;
}

@font-face {
  font-family: 'CuteNotes';
  src: url('/fonts/Cute Notes.ttf');
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("/fonts/RobotoCondensed.ttf");
}

@font-face {
  font-family: "NoteBook";
  src: url("/fonts/Notebook.otf");
}

@font-face {
  font-family: "DailyMoody";
  src: url("/fonts/Daily Moody.otf");
}